<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtPZTcIT3q6f55eWLrAP6knJjm3xV8xCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1063717283410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandra.clubnorms</string>
	<key>PROJECT_ID</key>
	<string>clubnorms-9ff76</string>
	<key>STORAGE_BUCKET</key>
	<string>clubnorms-9ff76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063717283410:ios:be9f4118fff779eadb618b</string>
</dict>
</plist>